/*Home.css includes Home.js, Content.js, and Search.js*/

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration:none;
    color:white;
}

.Content{
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.grid {
  margin: 10px auto;
}

.images {
    padding: 10px;
    
}

.grid div span {
    position: absolute;
    bottom: 75px;
    right: 70px;
    z-index: 1;
}
.likeButton{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}

.heart {
    width: 45px;
    cursor: pointer;  
    transition: 0.5s;
}

.heart:hover {
    transform: scale(1.15);
}

#results {
    margin-left: 1.5%;
}

#results h1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

#results p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: grey;
}

@media only screen and (max-width: 1500px) {
    .searchInput {width: 300%;}
    .logo {width: 100px}
}

@media only screen and (max-width: 1300px) {
    .searchInput {width: 200%;}
}

@media only screen and (max-width: 1000px) {
    .searchInput {width: 130%;}
}

@media only screen and (max-width: 800px) {
    .searchInput {width: 100%;}
}

@media all and (max-width: 700px) {
   
}