/*Home.css includes Home.js, Content.js, and Search.js*/
.Home{
    margin-top:50px;
}

#removeResults{
    float:right;
    margin-right:50px;
}

#create{
    float:right;
}

.Content{
    padding-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

.images img {

}

.grid {
   margin-left: 20px;

}
