
.Search form {
    float:left;
    margin-left:20%;
}

.searchInput{
    padding: 10px;
    width: 400%;
    height: 30px;
    border-radius: 50px 50px 50px 50px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
    font-size: 18px;
}

.submit{
    display: none;
}

